{% extends 'base.html'%}
{% load static %}

{% block css_files %}
<link rel='stylesheet' href='{% static 'start_page/start_page.css' %}'> 
{% endblock %} 
{% block content %}
    <h1>{{ overviews }}</h1>
    <ul class='result_container'>    
        {% for result in results %}
        <li class='detail_container'>
            日付      {{ result.date | date:"Y-m-d" }}<br>
            大会名    {{ result.convention }}<br>
            ラウンド  {{ result.get_round_display }}<br>
            対戦相手  {{ result.opponent }}<br>
            スコア    {{ result.score }}<br>
            {% comment %} コメント  <br>
                     {{ result.comment }}<br> {% endcomment %}
        </li>
    {% endfor %}
    </ul>
{% endblock %}    
