ul {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

li {
    font-size: 3rem;
    list-style: none;
}

li a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 500px;        
  height: 150px;       
  margin: 1rem;
  border: 0.5rem solid black;
  border-radius: 10rem;
}

/* li a {  
  display: block;
  border: 0.5rem solid black;
  padding: 50px 200px;
  margin: 1rem;
  border-radius: 10rem;
} */

li a:hover {
  background-color: white;
  color: #FF69B4;
  transform: translateY(-5px);

}

nav {
  position: absolute; 
  top: 10px;
  left: 10px;
}

nav a {
  text-decoration: none; 
  font-size: 1.2rem; 
  color: #4B0082; 
  font-weight: bold; 
  transition: color 0.3s;
}

nav a:hover {
  color: #FF69B4; 
}


a {
  text-decoration: none;
}